@model  FinalProject.BLL.ViewModels.instructorVM

<form id="myForm">
    <div class="container">
        <div class="form-group row">
            <div class="col">
                @Html.HiddenFor(x => x.instructor_id)
                @Html.ValidationSummary(true)
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2 col-form-label"><label>اسم المدرب</label></div>
            <div class="col-sm-6">@Html.TextBoxFor(x => x.instructor_name, new { @class = "form-control" })</div>
            <div class="col-sm-2">
                @Html.ValidationMessageFor(x => x.instructor_name, "", new { @class = "error" })
            </div>

        </div>
        <div class="form-group row">
            <div class="col-sm-2 col-form-label"><label>الوحدة التابع لها</label></div>
            <div class="col-sm-6">@Html.TextBoxFor(x => x.NameOf_ItsUnit, new { @class = "form-control" })</div>
            <div class="col-sm-2">
                @Html.ValidationMessageFor(x => x.NameOf_ItsUnit, "", new { @class = "error" })
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2 col-form-label"><label>المواضيع</label></div>
            <div class="col-sm-6">@Html.TextAreaFor(x => x.TrainningTopic, new { @class = "form-control" })</div>
            <div class="col-sm-2">
                @Html.ValidationMessageFor(x => x.TrainningTopic, "", new { @class = "error" })
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2 col-form-label"><label>المسمى الوظيفى</label></div>
            <div class="col-sm-6">@Html.TextBoxFor(x => x.Current_JobTitle, new { @class = "form-control" })</div>
            <div class="col-sm-2">
                @Html.ValidationMessageFor(x => x.Current_JobTitle, "", new { @class = "error" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-form-label"><label>البريد الالكترونى</label></div>
            <div class="col-sm-6">@Html.TextBoxFor(x => x.Email, new { @class = "form-control" })</div>
            <div class="col-sm-2">
                @Html.ValidationMessageFor(x => x.Email, "", new { @class = "error" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-form-label"><label>الموبايل</label></div>
            <div class="col-sm-6">@Html.TextBoxFor(x => x.Mobile, new { @class = "form-control" })</div>
            <div class="col-sm-2">
                @Html.ValidationMessageFor(x => x.Mobile, "", new { @class = "error" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-form-label"><label>التليفون</label></div>
            <div class="col-sm-6">@Html.TextBoxFor(x => x.phone, new { @class = "form-control" })</div>
            <div class="col-sm-2">
                @Html.ValidationMessageFor(x => x.phone, "", new { @class = "error" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-form-label"><label>المؤهلات</label></div>
            <div class="col-sm-6">@Html.TextBoxFor(x => x.QualificationsName, new { @class = "form-control" })</div>
            <div class="col-sm-2">
                @Html.ValidationMessageFor(x => x.QualificationsName, "", new { @class = "error" })
            </div>
        </div>
        <div> <input type="button" value="تعديل" id="btnSubmit" class="btn btn-primary" /></div>
    </div>
</form>
<div id="divLoader" style="display:none">
    <img src="~/Images/loader2.gif" width="100px" height="100px" />
</div>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    $(document).ready(function () {
        $("#btnSubmit").click(function () {
            $("#divLoader").show();
            var data = $("#myForm").serialize();
            if ($("Form").valid()) {
                $.ajax({
                    type: "POST",
                    data: data,
                    url: "/AdminArea/Instructor/Edit",
                    success: function (response) {
                        $("#divLoader").hide();
                        $("#myForm").hide();
                        $("#DivGetAllInstructors").load("/AdminArea/Instructor/GetAllInstructors")
                    }

                })
            }
        })


    })


</script>

