@model FinalProject.BLL.ViewModels.parenterVM
<form method="post" action="/Parenter/editparenter" enctype="multipart/form-data">
    @Html.HiddenFor(a=>a.parenter_id)
    <div class="form-group row">
        @Html.LabelFor(a => a.parenter_name, "اسم العميل", new { @class = "col-sm-2 col-form-label" })
        <div class="col-sm-6">
            @Html.TextBoxFor(a => a.parenter_name, new { @class = "form-control" })
        </div>
        <div class="col-sm-2">
            @Html.ValidationMessageFor(a => a.parenter_name)
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(a => a.email, "البريد الاكتروني", new { @class = "col-sm-2 col-form-label" })
        <div class="col-sm-6">
            @Html.TextBoxFor(a => a.email, new { @class = "form-control" })
        </div>
        <div class="col-sm-2">
            @Html.ValidationMessageFor(a => a.email)
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(a => a.phone, "رقم الهاتف", new { @class = "col-sm-2 col-form-label" })
        <div class="col-sm-6">
            @Html.TextBoxFor(a => a.phone, new { @class = "form-control" })
        </div>
        <div class="col-sm-2">
            @Html.ValidationMessageFor(a => a.phone)
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(a => a.Mobile, "رقم المحمول", new { @class = "col-sm-2 col-form-label" })
        <div class="col-sm-6">
            @Html.TextBoxFor(a => a.Mobile, new { @class = "form-control" })
        </div>
        <div class="col-sm-2">
            @Html.ValidationMessageFor(a => a.Mobile)
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(a => a.image, "الصورة", new { @class = "col-sm-2 col-form-label" })
        <div class="col-sm-6">
            <img src="~/Images/@Model.image" style="width:100px;height:100px"/>
            <br/>
            <input type="file" name="img" />
        </div>
        <div class="col-sm-2">
            @Html.ValidationMessageFor(a => a.image)
        </div>
    </div>
    <div class="form-group row">
        <button type="submit" class="btn btn-primary">تعديل</button>
    </div>

</form>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

